html, body {
  margin: 20px;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
  background: #eee;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  border: 1px solid #000;
  display: block;
}

textarea {
  width: 800px;
  height: 350px;
}
